Repository ralphbean/example: changes, and which Tekton pipelines are due for each by the changed paths.
All: component-01-on-push, component-02-on-push

.tekton/component-01-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/ralphbean/example?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "false"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch == "main" && ( "component-01/*".pathChanged() || ".tekton/component-01-push.yaml".pathChanged() || "Containerfile".pathChanged() )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: example-app
    appstudio.openshift.io/component: component-01
    pipelines.appstudio.openshift.io/type: build
  name: component-01-on-push
  namespace: ralphbean
spec:
  params:
    - name: git-url
      value: '{{source_url}}'
    - name: revision
      value: '{{revision}}'
    - name: output-image
      value: quay.io/experiment/ralphbean/component-01:{{revision}}
    - name: dockerfile
      value: Containerfile
    - name: path-context
      value: component-01
  taskRunTemplate: {}
  workspaces:
    - name: git-auth
      secret:
        secretName: '{{ git_auth_secret }}'
  pipelineRef:
    name: build-pipeline
status: {}

.tekton/component-02-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/ralphbean/example?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "false"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch == "main" && ( "component-02/*".pathChanged() || ".tekton/component-02-push.yaml".pathChanged() || "Containerfile".pathChanged() )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: example-app
    appstudio.openshift.io/component: component-02
    pipelines.appstudio.openshift.io/type: build
  name: component-02-on-push
  namespace: ralphbean
spec:
  params:
    - name: git-url
      value: '{{source_url}}'
    - name: revision
      value: '{{revision}}'
    - name: output-image
      value: quay.io/experiment/ralphbean/component-02:{{revision}}
    - name: dockerfile
      value: Containerfile
    - name: path-context
      value: component-02
    - name: hermetic
      value: "true"
    - name: prefetch-input
      value: '{"type": "pip", "path": "component-02/."}'
  taskRunTemplate: {}
  workspaces:
    - name: git-auth
      secret:
        secretName: '{{ git_auth_secret }}'
  pipelineRef:
    name: build-pipeline
status: {}

Revert "Bump only component-03"
  component-03/requirements-build.txt
Due: none

Build source images
  .tekton/component-01-pull-request.yaml
  .tekton/component-01-push.yaml
  .tekton/component-02-pull-request.yaml
  .tekton/component-02-push.yaml
  .tekton/component-03-pull-request.yaml
  .tekton/component-03-push.yaml
Due: component-01-on-push, component-02-on-push

Pin to an older version
  component-01/Containerfile
  component-02/Containerfile
  component-03/Containerfile
Due: component-01-on-push, component-02-on-push

Add component 04
  .tekton/component-04-pull-request.yaml
  .tekton/component-04-push.yaml
  component-04/Containerfile
  component-04/requirements-build.in
  component-04/requirements-build.txt
  component-04/requirements.in
  component-04/requirements.txt
  component-04/resources/component.yaml
  component-04/resources/kustomization.yaml
Due: none

Fix cel path for PR builds
  .tekton/component-01-pull-request.yaml
  .tekton/component-02-pull-request.yaml
  .tekton/component-03-pull-request.yaml
  .tekton/component-04-pull-request.yaml
Due: none

Fix a mistake in the copy from 03 to 04
  .tekton/component-04-pull-request.yaml
  .tekton/component-04-push.yaml
Due: none

ralphjbot update component-04 Signed-off-by: ralphjbot <konflux@no-reply.konflux-ci.dev>
  .tekton/component-04-pull-request.yaml
  .tekton/component-04-push.yaml
Due: none

Make component-04 an example of the generic fetcher
  .tekton/component-04-pull-request.yaml
  .tekton/component-04-push.yaml
  component-04/Containerfile
  component-04/artifacts.lock.yaml
  component-04/requirements-build.in
  component-04/requirements-build.txt
  component-04/requirements.in
  component-04/requirements.txt
Due: none

Path to directory
  .tekton/component-04-push.yaml
Due: none

Fix cachi2 path
  component-04/Containerfile
Due: none

Explore what cachi2 puts here
  component-04/Containerfile
Due: none

Fix cachi2 output location
  component-04/Containerfile
Due: none

Use a better location for this content
  component-02/Containerfile
  component-04/Containerfile
  component-04/artifacts.lock.yaml
Due: component-02-on-push

Initial README
  README.md
Due: none

Emojis are fun
  README.md
Due: none

Expand explanation
  README.md
Due: none

Work these into slide form
  README.md
Due: none

ralphjbot update component-01 Signed-off-by: ralphjbot <konflux@no-reply.konflux-ci.dev>
  .tekton/component-01-pull-request.yaml
  .tekton/component-01-push.yaml
Due: component-01-on-push

ralphjbot update component-02 Signed-off-by: ralphjbot <konflux@no-reply.konflux-ci.dev>
  .tekton/component-02-pull-request.yaml
  .tekton/component-02-push.yaml
Due: component-02-on-push

ralphjbot update component-03 Signed-off-by: ralphjbot <konflux@no-reply.konflux-ci.dev>
  .tekton/component-03-pull-request.yaml
  .tekton/component-03-push.yaml
Due: none

Tighten this up
  README.md
Due: none

Tweak formatting
  README.md
Due: none

Fix checksum
  component-04/artifacts.lock.yaml
Due: none

Fix cel expressions
  .tekton/component-01-pull-request.yaml
  .tekton/component-02-pull-request.yaml
  .tekton/component-03-pull-request.yaml
  .tekton/component-04-pull-request.yaml
Due: none

Explore /etc/resolv.conf
  component-02/Containerfile
Due: component-02-on-push

Adjust table formatting
  README.md
Due: none

Drop extra content from component-01
  component-01/Containerfile
Due: component-01-on-push

Report cachi2.env contents
  component-02/Containerfile
Due: component-02-on-push

ralphjbot update sample-component Signed-off-by: ralphjbot <konflux@no-reply.konflux-ci.dev>
  .tekton/sample-component-pull-request.yaml
  .tekton/sample-component-push.yaml
Due: none

Consolidate components 3 and 4
  .tekton/component-03-pull-request.yaml
  .tekton/component-03-push.yaml
  .tekton/component-04-pull-request.yaml
  .tekton/component-04-push.yaml
  README.md
  component-03/Containerfile
  component-03/artifacts.lock.yaml
  component-04/Containerfile
  component-04/resources/component.yaml
  component-04/resources/kustomization.yaml
Due: none

Disable hermetic build for component 2
  .tekton/component-02-pull-request.yaml
  .tekton/component-02-push.yaml
Due: component-02-on-push

Text at the top of component 3
  README.md
Due: none

Initial policies
  basics/ec-integration-test.yaml
  basics/kustomization.yaml
  basics/policies.yaml
  basics/rbac.yaml
Due: none

Adjust for 3 components
  README.md
Due: none

Adjust policies
  basics/ec-integration-test.yaml
  basics/policies.yaml
Due: none

Bump to more modern python-312-minimal image
  component-02/Containerfile
  component-03/Containerfile
Due: component-02-on-push

Illustrative comments in containerfiles
  component-01/Containerfile
  component-02/Containerfile
  component-03/Containerfile
Due: component-01-on-push, component-02-on-push

Conforma examples
  basics/ec-integration-test.yaml
  basics/policies.yaml
  basics/rbac.yaml
Due: none

Remove unused resource
  basics/build-pipeline.yaml
Due: none

More meaningful policy descriptions
  basics/policies.yaml
Due: none
