Repository ralphbean/example: changes, and which Tekton pipelines are due for each by the changed paths.
All: component-01-on-push, component-02-on-push, component-03-on-pull-request, component-03-on-push

component-01-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/experiment/ralphbean/component-01:{{revision}}
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: component-01
  taskRunTemplate: {}
  workspaces:
  ...

component-02-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/experiment/ralphbean/component-02:{{revision}}
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: component-02
  - name: hermetic
    value: 'true'
  ...

component-03-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/experiment/ralphbean/component-03:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Containerfile
  - name: path-context
  ...

component-03-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/experiment/ralphbean/component-03:{{revision}}
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: component-03
  - name: build-source-image
  ...

Adjust RP
  basics/release-plan.yaml
Due: none

Minor editing / copy-editing
  README.md
Due: none

An appendix about exploring OCI artifacts
  README.md
Due: none

Move policies to be easier to compare and describe
  basics/policies.yaml
  common/application.yaml
  common/appstudio-pipeline-sa.yaml
  common/ec-integration-test.yaml
  common/kustomization.yaml
  common/ns.yaml
  common/policies/kustomization.yaml
  common/policies/policy-a.yaml
  common/policies/policy-b.yaml
  common/policies/policy-c.yaml
  common/policies/policy-d.yaml
  common/rbac.yaml
  common/release-plan.yaml
  component-02/resources/kustomization.yaml
  component-03/resources/kustomization.yaml
Due: component-02-on-push, component-03-on-push

Add a whole slide to review the policies and their content
  README.md
Due: none

Reorder and consolidate component-03 table
  README.md
Due: none

Instructions for investigating component-02
  README.md
Due: none

Consolidate a little more
  README.md
Due: none

Ignore syft results
  .gitignore
Due: none

Still more consolidation
  README.md
Due: none

Highlight vuln mgmt connection
  README.md
Due: none

Increase timeouts for slow conference wifi
  .tekton/component-01-pull-request.yaml
  .tekton/component-01-push.yaml
  .tekton/component-02-pull-request.yaml
  .tekton/component-02-push.yaml
  .tekton/component-03-pull-request.yaml
  .tekton/component-03-push.yaml
Due: component-01-on-push, component-02-on-push, component-03-on-pull-request, component-03-on-push

Language tweak
  README.md
Due: none

ralphjbot update component-01
  .tekton/component-01-pull-request.yaml
  .tekton/component-01-push.yaml
Due: component-01-on-push

Path conditions:
  component-01-on-push: ((any of: component-01/*) or (any of: .tekton/component-01-push.yaml)) or (any of: Containerfile)
  component-02-on-push: ((any of: component-02/*) or (any of: .tekton/component-02-push.yaml)) or (any of: Containerfile)
  component-03-on-pull-request: ((any of: ./component-03/***) or (any of: .tekton/component-03-pull-request.yaml)) or (any of: Containerfile)
  component-03-on-push: ((any of: component-03/*) or (any of: .tekton/component-03-push.yaml)) or (any of: Containerfile)
